@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: rgb(5, 41, 82);
	color: white;
}

.grid {
	display: grid;
	grid-template-columns: minmax(auto, 1fr) 1fr 1fr minmax(auto, 1fr);
	justify-items: center;
	gap: 2rem;
}

#app h1 {
	grid-column: 1 / span 4;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

#app .first-image,
#app .second-image {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#app .first-image {
	grid-column: 2 / 3;
}

#app .second-image {
	grid-column: 3 / 4;
}

#app img {
	width: 450px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border: 2px solid white;
	margin-bottom: 1rem;
}